@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("../fonts/SEGA.woff") format("woff");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

.main {
  padding: 2rem 1rem;
  text-align: center;
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-size: 2rem;
  font-weight: 200;
  color: #0ccac4;
}

.header,
.header-title {
  margin-bottom: 3rem;
}

.card-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.loading {
  display: grid;
  margin: 0;
  height: 100vh;
  align-content: center;
  justify-items: center;
}

@media all and (min-width: 450px) {
  .header-title,
  .loading {
    font-size: 2.8rem;
  }
}

@media all and (min-width: 600px) {
  .main {
    padding: 2rem 4rem;
  }

  .header-title,
  .loading {
    font-size: 3.5rem;
  }
}
