.search {
  margin-bottom: 2rem;
}

.search-title {
  color: #c5eeff;
}

.search-input {
  padding: 0.8em;
  outline: none;
  border: 3px solid #0ccac4;
  background: #c5eeff;
  width: 220px;
}

@media all and (min-width: 600px) {
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-title {
    margin-right: 1rem;
  }
}
