.card {
  display: grid;
  justify-items: center;
  background: #73d1ce;
  padding: 1rem;
  height: 340px;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.06);
  transition: all 0.3s;
}

.card-img {
  height: 160px;
  place-self: center;
}

.card-description {
  place-self: center;
}
